<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Lab Conditions by RPi</title>
    <meta name="description" content="Lab conditions - RPi">
    <meta name="author" content="Peter Dalmaris">
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
    <script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <form id="datetime_range" method="GET">
                <!-- <div class="row">          -->
                <div class="three columns">
                    <label for="from">From date</label>
                    <input class="u-full-width" id="datetimepicker1" type="text" value="{{from_date}}" name="from">
                </div>
                <!-- </div> -->
                <!-- <div class="row"> -->
                <div class="three columns">
                    <label for="to">To date</label>
                    <input class="u-full-width" id="datetimepicker2" type="text" value="{{to_date}}" name="to">
                </div>
                <!-- </div>          -->
                <!-- <div class="row"> -->
                <div class="two columns">
                    <input type="hidden" class="timezone" name="timezone" />
                    <input class="button-primary" type="submit" value="Submit" style="position:relative; top: 28px"
                        id="submit_button" />
                </div>
                <!-- </div> -->
            </form>
        </div>
        <div class="row">
            <div class="eleven columns">
                <form id="range_select" method="GET">
                    <input type="hidden" class="timezone" name="timezone" />
                    <div class="one column">
                        <input type="radio" name="range_h" value="3" id="radio_3" /><label for="radio_3">3hrs</label>
                    </div>
                    <div class="one column">
                        <input type="radio" name="range_h" value="6" id="radio_6" /><label for="radio_6">6hrs</label>
                    </div>
                    <div class="one column">
                        <input type="radio" name="range_h" value="12" id="radio_12" /><label
                            for="radio_12">12hrs</label>
                    </div>
                    <div class="one column">
                        <input type="radio" name="range_h" value="24" id="radio_24" /><label
                            for="radio_24">24hrs</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="one-third column" style="margin-top: 5%">
                <strong>Showing all records</strong>
                <h2>Temperatures</h2>
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>&deg;C</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in table_entries %}
                        <tr>
                            <td>{{temp['data'][i]['date_str']}}</td>
                            <td>{{'%0.2f'|format(temp['data'][i]['value'])}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h2>Humidities</h2>
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in table_entries %}
                        <tr>
                            <td>{{hum['data'][i]['date_str']}}</td>
                            <td>{{'%0.2f'|format(hum['data'][i]['value'])}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="two-thirds column" style="margin-top: 5%">
                <div class="row">
                    <div class="row">
                        <div class="three columns">
                            <div id="chart_temps"></div>
                            <div id="chart_humid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>


<script>
    jQuery("#datetime_range").submit(function (event) {
        timezone = jstz.determine();
        jQuery(".timezone").val(timezone.name());
    });

    jQuery('#datetimepicker1').datetimepicker(
        {
            format: 'Y-m-d H:i',
            defaultDate: '{{from_date}}'
        });
    jQuery('#datetimepicker2').datetimepicker({
        format: 'Y-m-d H:i',
        defaultDate: '{{to_date}}'
    });

    jQuery("#range_select input[type=radio]").click(function () {
        timezone = jstz.determine();
        jQuery(".timezone").val(timezone.name());
        jQuery("#range_select").submit();
    });

</script>



<script>
    google.load('visualization', '1', { packages: ['corechart'] });
    google.setOnLoadCallback(drawCharts);


    function render_chart(data) {
        let gdata = new google.visualization.DataTable();
        gdata.addColumn('datetime', 'Time');
        gdata.addColumn('number', data['column_name']);
        
        for (i = 0; i < data.data.length; ++i) {
            let curr = data.data[i];
            let date = new Date(curr['year'], curr['month'] - 1, curr['day'], curr['hour'], curr['minute']);
            let val = curr['value'];
            gdata.addRow([date, val]);
        }

        var opts = {
            width: 600,
            height: 563,
            hAxis: {
                title: "Date",
                gridlines: { count: data.data.length, color: '#CCC' },
            format: 'dd-MMM-yyyy HH:mm' },
            vAxis: {
                title: data['unit']
            },
            title: data['title']
        };
    
        var chart = new google.visualization.LineChart(document.getElementById(data['div_id']));
    
        chart.draw(gdata, opts);
    }

    function moving_average(data, n) {
        for (let i = 0; i < data.length; ++i) {
            idx_from = Math.max(0, Math.trunc(i - n/2));
            idx_to = Math.min(data.length, Math.trunc(i + n/2))

            let sum = 0;
            for(let idx = idx_from; idx < idx_to; ++idx) {
                sum += data[idx]['value'];
            }
            data[i]['value'] = sum / (idx_to - idx_from);
        }
    }

    
    function drawCharts() {
        let t_data = {{ temp | tojson | safe }};
        let h_data = {{ hum | tojson | safe }};
        moving_average(t_data['data'], 5);
        moving_average(h_data['data'], 5);
        render_chart(t_data);
        render_chart(h_data);
    }

</script>

</html>